# Kyra
/assets/ @kyranet
/database/ @kyranet
/src/ @kyranet

# Favna
/docker/ @favna
/src/commands/Anime/anime.ts @favna
/src/commands/Anime/manga.ts @favna
/src/commands/GameIntegration/ @favna
/src/commands/Google/ @favna
/src/commands/Misc/reddituser.ts @favna
/src/commands/Pokemon/ @favna
/src/commands/tools/Websearch/eshop.ts @favna
/src/commands/tools/Websearch/igdb.ts @favna
/src/commands/tools/Websearch/itunes.ts @favna
/src/commands/tools/Websearch/movies.ts @favna
/src/commands/tools/Websearch/shows.ts @favna
/src/lib/types/definitions/Kitsu.d.ts @favna
/src/lib/types/definitions/Reddit.d.ts @favna
/src/lib/types/definitions/Tmdb.d.ts @favna
/src/lib/util/External/igbTypes.ts @favna
/src/lib/util/GameIntegration @favna
/src/lib/util/Google.ts @favna
/src/lib/util/Pokedex.ts @favna
