# Kyra & Favna
/src/ @favna @kyranet
/tests/ @favna @kyranet
/tsconfig.base.json @favna @kyranet
/tsconfig.eslint.json @favna @kyranet

# Just Kyra
/assets/ @kyranet
/LICENSE @kyranet

# Just Favna
/docker/ @favna
/.github/ @favna
/.vscode/ @favna
/scripts/ @favna
/.all-contributorsrc @favna
/.eslintrc.json @favna
/.gitignore @favna
/.gqlconfig @favna
/.prettierrc @favna
/.yarnclean @favna
/jest.config.js @favna
/pm2.ecosystem.yml @favna
