# Ignore a blackhole and the folder for development
node_modules/
.vs/

# Ignore bwd folders
dist/
bwd/

# Ignore the config file (contains sensitive information such as tokens)
config.ts

# Ignore heapsnapshot and log files
*.heapsnapshot
*.log

# Ignore package locks
package-lock.json
