language: node_js
node_js:
  - "10"
before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.13.0
  - export PATH=$HOME/.yarn/bin:$PATH
install: yarn
jobs:
  include:
    - stage: test
      script: yarn test
cache:
  yarn: true
  directories:
    - node_modules
