<%- include('blocks/header', {bot:bot, user: user, auth: auth}) %>


<div class="ui vertical stripe segment" style="height:inherit; padding-bottom: 0px;">
  <div class="ui middle aligned stackable grid container">
    <h1 class="ui dividing header">Skyra</h1>
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui header">An <b>ALL-IN-ONE</b> Discord Bot</h3>
        <p>Skyra is a standalone bot created on 24th November 2016, it's designed to avoid the 'bot hell' by wrapping the functions of most popular bots into an unified and complex system in which includes FailSafe systems and designed to be very reliable. As well as its availability is 24/7.</p>
      </div>
      <div class="six wide right floated column">
        <img src="/res/Skyra.png" style="width:256px;" class="ui bordered rounded image">
      </div>
    </div>
    <div class="row">
      <a href="//www.patreon.com/kyranet"><div class="ui animated orange button" tabindex="0">
        <div class="visible content">Patreon</div>
        <div class="hidden content"><i class="right arrow icon"></i></div>
      </div></a>
      <a href="/docs"><div class="ui animated green button" tabindex="0">
        <div class="visible content">Documentation</div>
        <div class="hidden content"><i class="right arrow icon"></i></div>
      </div></a>
      <a href="//discordapp.com/invite/6gakFR2"><div class="ui animated blue button" tabindex="0">
        <div class="visible content">Discord</div>
        <div class="hidden content"><i class="right arrow icon"></i></div>
      </div></a>
  </div>
</div>

<% include ./blocks/footer %>