<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Commands</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Theme CSS -->
    <link href="css/skyra.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">
    <div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.html#page-top">Skyra</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a href="index.html#about">About</a>
                    </li>
                    <li>
                        <a href="index.html#banners">Banners</a>
                    </li>
                    <li>
                        <a href="#">Commands</a>
                    </li>
                    <li>
                        <a href="statistics.html">Statistics</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <h1 class="name">Commands</h1>
                        <hr class="star-light">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="settings">
        <div class="container">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel-group" id="system" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headSystem">
                            <h4 class="panel-title">
                                <a role="button" class="collapseTitle" data-toggle="collapse" data-parent="#system" href="#bodySystem" aria-expanded="true" aria-controls="bodySystem">
                                    System
                                </a>
                            </h4>
                        </div>
                        <div id="bodySystem" class="panel-collapse collapse" role="tabpanel" aria-labelledby="system">
                            <div class="list-group">
                                <li class="list-group-item">
                                    Ping
                                    <span style="float:right;" class="label label-info helpButton" data-toggle="modal" data-target="#cmdModal" data-name="Ping" data-usage="None.">?</span>
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="moderation" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headModeration">
                            <h4 class="panel-title">
                                <a role="button" class="collapseTitle" data-toggle="collapse" data-parent="#moderation" href="#bodyModeration" aria-expanded="true" aria-controls="bodyModeration">
                                    Moderation
                                </a>
                            </h4>
                        </div>
                        <div id="bodyModeration" class="panel-collapse collapse" role="tabpanel" aria-labelledby="moderation">
                            <div class="list-group">
                                <li class="list-group-item">
                                    Roles
                                    <span style="float:right;" class="label label-info helpButton" data-toggle="modal" data-target="#cmdModal" data-name="Roles" data-usage="Public roles? They are roles that are available for everyone, an administrator must configure them throught a setting command.\n\n= Usage =\nSkyra, roles list                   :: I will show you all available public roles.\nSkyra, roles claim [role1, role2]   :: Claim one of more public roles.\nSkyra, roles unclaim [role1, role2] :: Unclaim one of more public roles.\n\n= Format =\nWhen using claim/unclaim, the roles can be individual, or multiple.\nTo claim multiple roles, you must separate them by a comma.\nYou can specify which roles by writting their ID, name, or a section of the name.\n\n= Examples =\nSkyra, roles claim Designer, Programmer\n❯❯ I'll give you both roles, 'Designer' and 'Programmer' (implying they exist and they are available as public roles).">?</span>
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="cmdModal" tabindex="-1" role="dialog" aria-labelledby="cmdModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="cmdTitle">Command</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <p id="cmdUsage" class="monospace"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('.helpButton').click(function(event) {
            $("#cmdTitle").text($(this).data("name"));
            $("#cmdUsage").html($(this).data("usage").replace(/\\n/g, "<br />").replace(/= \w+ =/g, (match) => `<h5>${match.replace(/=/g, "").trim()}</h5>`));
        })
    </script>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-6">
                        <h3>Links</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://github.com/dirigeants/komada" class="btn-social btn-outline"><span class="sr-only">Komada</span><i class="fa fa-fw fa-github"></i></a>
                            </li>
                            <li>
                                <a href="https://www.patreon.com/kyranet" class="btn-social btn-outline"><span class="sr-only">Patreon</span><i class="fa fa-fw fa-dollar"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-6">
                        <h3>About Skyra</h3>
                        <p>Skyra is a Discord Bot created by kyra#2490</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Skyra Project 2017
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/skyra.min.js"></script>

</body>

</html>