<%- include("./blocks/header.ejs", { thisClient, user, page: "Manage" }); %>

    <section id="manage">
        <div class="container">
            <div class="col-md-8 col-md-offset-2">
                <form method="post">
                    <hr></hr>
                    <h4>Channels</h4>
                    <table style="width:100%">
                        <col width="170">
                        <tr>
                            <th>
                                <div style="width:150px;">
                                    <select name="modlog" class="form-control">
                                        <option selected disabled>Select a channel</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </th>
                            <th>ModLog</th>
                        </tr>
                        <tr>
                            <th>
                                <div style="width:150px;">
                                    <select name="log" class="form-control">
                                        <option selected disabled>Select a channel</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </th>
                            <th>Log</th>
                        </tr>
                    </table>
                    <hr></hr>
                    <h4>Roles</h4>
                    <table style="width:100%">
                        <col width="170">
                        <tr>
                            <th>
                                <div style="width:150px;">
                                    <select name="administrator" class="form-control">
                                        <option selected disabled>Select a role</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </th>
                            <th>Administrator</th>
                        </tr>
                        <tr>
                            <th>
                                <div style="width:150px;">
                                    <select name="moderator" class="form-control">
                                        <option selected disabled>Select a role</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </th>
                            <th>Moderator</th>
                        </tr>
                    </table>
                    <hr></hr>
                    <h4>Events</h4>
                    <table style="width:100%">
                        <col width="170">
                        <tr>
                            <th>
                                <div class="slideThree">
                                    <input type="checkbox" id="guildMemberAdd" name="guildMemberAdd" />
                                    <label for="guildMemberAdd"></label>
                                </div>
                            </th>
                            <th>guildMemberAdd</th>
                        </tr>
                        <tr>
                            <th>
                                <div class="slideThree">
                                    <input type="checkbox" id="guildMemberRemove" name="guildMemberRemove" />
                                    <label for="guildMemberRemove"></label>
                                </div>
                            </th>
                            <th>guildMemberRemove</th>
                        </tr>
                    </table>
                    <hr></hr>
                    <h4>Messages</h4>
                    <div class="input-group">
                        <span class="input-group-addon">GreetingMessage</span>
                        <input id="greetingMessage" type="text" class="form-control" name="greetingMessage" placeholder="Additional Info">
                    </div>
                    <hr></hr>
                    <div class="center"><input type="submit" value="Save" class="btn btn-default btn-inverse"></div>
                    <script>
                        $("form").submit(function(event) {
                            const serial = $(this).serializeArray()
                            console.log(...serial);
                            alert("Check the Console.");
                            // event.preventDefault();
                        });
                    </script>
                </form>
            </div>
        </div>
    </section>

<%- include("./blocks/footer.ejs"); %>