<%- include("./blocks/header.ejs", { thisClient, user, page: "Statistics", usage }); %>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <section id="statistics">
        <div class="container">
            <hr></hr>
            <h2>CPU Usage</h2>
            <div class="graph" id="usage"></div>
            <h2>RAM Usage</h2>
            <div class="graph" id="ramUsage"></div>
        </div>
    </section>

    <script>
        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        })
        const usage = Highcharts.chart("usage", {
            chart: {},
            title: {
                text: null
            },
            credits: {
                enabled: false
            },
            xAxis: {
                type: "datetime"
            },
            yAxis: {
                title: {
                    text: null
                },
                allowDecimals: false,
                min: 0,
                max: 100,
            },
            plotOptions: {
                series: {
                    pointStart: new Date().getTime() - 300000 * 95,
                    pointInterval: 300000
                }
            },
            series: [{
                name: "CPU Usage",
                data: [],
                color: "#00adff",
                tooltip: {
                    pointFormat: "CPU Usage: {point.y}%"
                },
            }],
            navigation: {
                buttonOptions: {
                    enabled: false
                }
            }
        });

        const ramUsage = Highcharts.chart("ramUsage", {
            chart: {},
            title: {
                text: null
            },
            credits: {
                enabled: false
            },
            xAxis: {
                type: "datetime"
            },
            yAxis: {
                title: {
                    text: null
                },
                allowDecimals: false,
                min: 0
            },
            plotOptions: {
                series: {
                    pointStart: new Date().getTime() - 300000 * 95,
                    pointInterval: 300000
                }
            },
            series: [{
                name: "Node.js RAM Usage",
                data: [],
                color: "#aeff42",
                tooltip: {
                    pointFormat: "Total RAM: {point.y} MB"
                },
            }, {
                name: "RAM Usage",
                data: [],
                color: "#323233",
                tooltip: {
                    pointFormat: "RAM: {point.y} MB"
                },
            }],
            navigation: {
                buttonOptions: {
                    enabled: false
                }
            }
        });

        function requestData() {
            $.ajax({
                url: "/statistics/json",
                success: function(point) {
                    if (arrayEquals(usage.series[0], point.cpu) === false) usage.series[0].addPoint(point.cpu[95], true, true);
                    if (arrayEquals(ramUsage.series[0], point.prc) === false) ramUsage.series[0].addPoint(point.prc[95], true, true);
                    if (arrayEquals(ramUsage.series[1], point.ram) === false) ramUsage.series[1].addPoint(point.ram[95], true, true);
                    console.log(`[GET] Updating charts. CPU: ${point.cpu[95]} | PRC: ${point.prc[95]} | RAM: ${point.ram[95]}`);
                    setTimeout(requestData, 60000);
                },
                cache: false
            });
        }

        function arrayEquals(chart, newA) {
            if (chart.data.length !== newA.length) return false;
            for (let i = 0; i < chart.data.length; i++) {
                if (chart.data[i].y !== newA[i]) return false;
            }
            return true;
        }

        document.addEventListener("DOMContentLoaded", function(event) {
            $.ajax({
                url: "/statistics/json",
                success: function(point) {
                    usage.series[0].setData(point.cpu, true);
                    ramUsage.series[0].setData(point.prc, true);
                    ramUsage.series[1].setData(point.ram, true);
                    setTimeout(requestData, 60000);
                }
            });
        });
    </script>

<%- include("./blocks/footer.ejs"); %>
