<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stats</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Theme CSS -->
    <link href="css/skyra.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">
    <div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.html#page-top">Skyra</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a href="index.html#about">About</a>
                    </li>
                    <li>
                        <a href="index.html#banners">Banners</a>
                    </li>
                    <li>
                        <a href="commands.html">Commands</a>
                    </li>
                    <li>
                        <a href="#">Statistics</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <section id="statistics">
        <div class="container">
            <hr></hr>
            <h2>CPU Usage</h2>
            <div class="graph" id="usage"></div>
            <h2>RAM Usage</h2>
            <div class="graph" id="ramUsage"></div>
        </div>
    </section>

    <script>
        const now = new Date();
        const usage = Highcharts.chart("usage", {
            chart: {},
            title: {
                text: null
            },
            credits: {
                enabled: false
            },
            xAxis: {
                type: "datetime"
            },
            yAxis: {
                title: {
                    text: null
                },
                allowDecimals: false
            },
            plotOptions: {
                series: {
                    pointStart: now.setHours(now.getHours() - 1),
                    pointInterval: 60 * 1000
                }
            },
            series: [{
                name: "CPU Usage",
                data: [2, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 3, 2, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 4, 0, 1, 1, 0, 0, 0, 2, 5],
                color: "#00adff",
                tooltip: {
                    pointFormat: "CPU Usage: {point.y}%"
                },
            }],
            navigation: {
                buttonOptions: {
                    enabled: false
                }
            }
        });

        const ramUsage = Highcharts.chart("ramUsage", {
            chart: {},
            title: {
                text: null
            },
            credits: {
                enabled: false
            },
            xAxis: {
                type: "datetime"
            },
            yAxis: {
                title: {
                    text: null
                },
                allowDecimals: false,
                min: 0
            },
            plotOptions: {
                series: {
                    pointStart: now.setHours(now.getHours() - 1),
                    pointInterval: 60 * 1000
                }
            },
            series: [{
                name: "Node.js RAM Usage",
                data: [63, 62, 66, 65, 69, 68, 67, 63, 69, 67, 68, 65, 68, 69, 67, 68, 65, 68, 63, 66, 63, 67, 65, 68, 69, 67, 69, 64, 63, 63, 66, 69, 65, 69, 67, 67, 63, 68, 62, 69, 69, 63, 66, 64, 66, 66, 64, 67, 65, 69, 66, 69, 62, 62, 64, 64, 62, 67, 69, 66],
                color: "#aeff42",
                tooltip: {
                    pointFormat: "Total RAM: {point.y} MB"
                },
            }, {
                name: "RAM Usage",
                data: [57, 60, 62, 59, 59, 62, 61, 62, 60, 58, 57, 60, 58, 62, 62, 62, 59, 57, 62, 62, 61, 60, 62, 58, 59, 58, 61, 60, 61, 59, 61, 58, 60, 58, 60, 59, 58, 57, 59, 61, 57, 57, 62, 57, 57, 62, 57, 62, 60, 58, 61, 62, 60, 61, 57, 62, 57, 61, 58, 61],
                color: "#323233",
                tooltip: {
                    pointFormat: "RAM: {point.y} MB"
                },
            }],
            navigation: {
                buttonOptions: {
                    enabled: false
                }
            }
        });
    </script>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-6">
                        <h3>Links</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://github.com/dirigeants/komada" class="btn-social btn-outline"><span class="sr-only">Komada</span><i class="fa fa-fw fa-github"></i></a>
                            </li>
                            <li>
                                <a href="https://www.patreon.com/kyranet" class="btn-social btn-outline"><span class="sr-only">Patreon</span><i class="fa fa-fw fa-dollar"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-6">
                        <h3>About Skyra</h3>
                        <p>Skyra is a Discord Bot created by kyra#2490</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Skyra Project 2017
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/skyra.min.js"></script>

</body>

</html>