# .NET package locks
package.lock.json

# Rider configuration
.idea/
*DotSettings.user

# Ignore build outputs
obj/
bin/
out/
TestResults/
coverage.json

# Ignore generated database migrations
SkyraDbContextModelSnapshot.cs

# Ignore gitignore
.gitignore