<script>
  $(document).ready(function() {
        $('.ui.dropdown').dropdown();
  });
</script>
<div class="ui black inverted vertical footer segment" style="bottom:0;position:relative;width:100%">
  <div class="ui center aligned container">
    <div class="ui stackable inverted grid">
      <div class="three wide column">
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Links</h4>
        <div class="ui inverted link list">
          <a href="//www.patreon.com/kyranet" class="item">Support me on Patreon</a>
          <a href="//discordapp.com/invite/6gakFR2" class="item">Discord Server</a>
          <a href="//komada.js.org/" class="item">Komada Framework</a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header">Powered by Komada</h4>
        <p>The Komada Dashboard is powered by Komada. Semantic-UI is used for the framework, and the back-end is powered by express.js, passport and passport-discord. Templating done through ejs.</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>